@page "/About"

<PageTitle>About - Zultrafury</PageTitle>

<div class="centercontainer">
    <div>
        <h1>About</h1>
        <p>I am <b>Zac Stasiak</b>, known online as <b>Zultrafury</b>.</p>
        <p>I'm aspiring to make it big as a game developer.</p>
        <p>I have plenty of experience as a creative, and have been
            designing, coding, and making art all my life.</p>
    </div>
    <img src="zf_avatar.png" style="width: 16rem; object-fit: cover; padding-top: 1rem" alt="The face of Zultrafury."/>
</div>
@code {
    
}